<!DOCTYPE html>
<html>
<head>
	<title>Add a new user bill</title>
</head>
<body>

<h1>Add new bill to Users database</h1>

 <form action="/makebill" method="post"> 
  billID: <input type="number" name="billID">
  
  billingDate: <input type="date" name="billingDate">


  totalBill: <input type="number" name="totalBill">
planID: <input type="text" name="planID">
  

totalCall: <input type="number" name="totalCall">


  totalMessages: <input type="number" name="totalMessages">

  internetUsage: <input type="number" name="internetUsage">
  <input type="submit">
</form> 
</body>
</html>

