<!DOCTYPE html>
<html>
<head>
	<title>Add PLans to database</title>
</head>
<body>
<h1>Add new Plans to database</h1>

 <form action="/makeplan" method="post"> 
  PlanID: <input type="number" name="PlanID">
  
  PlanType: <input type="text" name="PlanType">

  Price: <input type="number" name="Price">

  Calls: <input type="number" name="Calls">

  Messages: <input type="number" name="Messages">

  Internet: <input type="number" name="Internet">

  Validity: <input type="number" name="Validity">
  <input type="submit">
</form> 
</body>
</html>